div.Publications-1 {

	width: 65%;
	font-size: 1em;
	margin-left: 20%;
	margin-top: 10px;
	margin-bottom: 50px;
	clear: both
}

div.Publications-1 h2 {
	text-align: right;
	
}

div.Publications-1 h1 {
	padding: 33px 20px	 0;


}